# Packages

In [25]:
import os
import numpy as np
import pandas as pd
import xarray as xr
from datetime import datetime, timedelta
import matplotlib.pyplot as plt

# Read data

In [26]:
# Set up directories
data_dir = '../data/'
output_dir = '../data/Weather/CA/'

# Read data in 2019
start_year = 2019

# Read ERA5 wind speed data
start_date_str = f'{start_year}-01-01'
end_date_str = f'{start_year+1}-01-01'
basename = f'wspd100m_{start_date_str}_{end_date_str}.nc'
ds_wind = xr.open_dataset(os.path.join(data_dir, basename))

# Get wind speed data at specific locations

In [27]:
# Locations of major cities in California
ca_locs = [
    ['San Diego', 32.741859, -117.090353],
    ['Los Angeles', 34.0617, -118.2790],
    ['San Jose', 37.3559, -121.8506],
    ['Sacramento', 38.4604, -121.4342],
    ['San Francisco', 37.7909, -122.4085],
    ['Irvine', 33.688546, -117.788091],
    ['Fresno', 36.739385, -119.753649], 
    ['Roseville', 38.7424, -121.251984],
    ['Carlsbad', 33.0954, -117.2500],
    ['Oakland', 37.792489, -122.244314]
]

ca_locs = pd.DataFrame(ca_locs, columns=['city', 'lat', 'lon'])
ca_locs

            city        lat         lon
0      San Diego  32.741859 -117.090353
1    Los Angeles  34.061700 -118.279000
2       San Jose  37.355900 -121.850600
3     Sacramento  38.460400 -121.434200
4  San Francisco  37.790900 -122.408500
5         Irvine  33.688546 -117.788091
6         Fresno  36.739385 -119.753649
7      Roseville  38.742400 -121.251984
8       Carlsbad  33.095400 -117.250000
9        Oakland  37.792489 -122.244314

In [28]:
wspd_df_list = list()

# Iterate through wind turbines
for idx, row in ca_locs.iterrows():
    
    lat, lon = row['lat'], row['lon']
        
    # Get timeseries data for the wind turbine locations
    ds_wind_turbine = ds_wind.sel(lat=lat, lon=lon, method='nearest')

    # Convert to pandas dataframe and append to list
    wspd_df_list.append(ds_wind_turbine.to_dataframe())

In [29]:
# Combine all data
wspd_df_all = pd.concat(wspd_df_list)
wspd_df_all

                       lat   lon  wspd_100m
time
2019-01-01 00:00:00  32.75 -96.0   4.204080
2019-01-01 01:00:00  32.75 -96.0   4.441301
2019-01-01 02:00:00  32.75 -96.0   3.983560
2019-01-01 03:00:00  32.75 -96.0   2.743985
2019-01-01 04:00:00  32.75 -96.0   1.783577
...                    ...   ...        ...
2019-12-31 19:00:00  37.75 -96.0   6.076998
2019-12-31 20:00:00  37.75 -96.0   6.057557
2019-12-31 21:00:00  37.75 -96.0   6.100945
2019-12-31 22:00:00  37.75 -96.0   5.306891
2019-12-31 23:00:00  37.75 -96.0   5.452435

[87600 rows x 3 columns]

In [30]:
# Write dataframe to csv
wspd_df_all.to_csv(os.path.join(output_dir, 'wind_speed.csv'))